@{
    ViewBag.Title = "Trello Activity Board";
}


<h1>Trello Activity</h1>

Source and Information on GitHub: <a href="https://github.com/aduggleby/TrelloActivity">https://github.com/aduggleby/TrelloActivity</a>

<h2>Change Log</h2>
<h3>Planned</h3>
<ul>
<li>Hide lists, action types and users</li>
</ul>

<h3>R2 - 12-04-04</h3>
<ul>
<li>Cards are now clickable</li>
</ul>
<h3>R1 - 12-04-04</h3>
<ul>
<li>Initial version</li>
</ul>