@{
    ViewBag.Title = "Trello Activity Board";
}
<div id="about">
<div id="container">
    <h1>
        Trello Activity Dashboard</h1>
    Source and Information on GitHub: <a href="https://github.com/aduggleby/TrelloActivity">
        https://github.com/aduggleby/TrelloActivity</a>
    <h2>
        Change Log</h2>
    <h3>
        Planned</h3>
    <ul>
        <li>Hide lists, action types and users</li>
    </ul>
    <h3>
        R2 - 12-04-04</h3>
    <ul>
        <li>Cards are now clickable</li>
        <li>Refresh does not "flicker", but rather just adds new stuff</li>
        <li>Basic styling to make it look 'pretty'</li>
    </ul>
    <h3>
        R1 - 12-04-04</h3>
    <ul>
        <li>Initial version</li>
    </ul>
    </div>
</div>
