@{
    ViewBag.Title = "Trello Activity Board - R2";
}
<div id="header">
    <div class="left">
        <h1>
            Trello Activity Dashboard</h1>
        <small>Release 2 / 12-04-04 / @Html.ActionLink("About", "About")</small>
    </div>
    <div class="center">
        <span id="user"></span>/ <span id="lastRefresh"></span>
    </div>
    <div class="right">
        <input type="button" onclick="btnLoadActivity()" value="Refresh now" /><br />
        <input type="checkbox" checked="checked" id="autoRefresh" />
        Auto refresh
    </div>
</div>
<div style="clear: both"/>
<div id="boards">
</div>
<div id="template">
    <div class="name">
    </div>
    <div class="activities">
    </div>
</div>
