@{
    ViewBag.Title = "Index";
}

<input type="button" onclick="btnLoadActivity()" value="Show Changes" /><input type="checkbox" checked="checked" id="autoRefresh" /> Auto refresh
<h1>Trello Activity <small> <span id="user"></span> / <span id="lastRefresh"></span></small></h1>

<div id="boards">

</div>

<div id="template">
<div class="name">

</div>
<div class="activities">

</div>
</div>
